In [ ]:
# Improve Data Quality: 
#   - Address inaccuracies, inconsistencies, and missing values.
# Prepare Data for Analysis: 
#   - Transform data into a suitable format for modeling and visualization.
# Reduce Noise: 
#   - Minimize the impact of irrelevant or redundant information.
# Enhance Model Performance: 
#   - Improve the accuracy, efficiency, and generalization ability of machine learning models.

In [3]:
## Data Inspection & Understanding

In [1]:
import pandas as pd
import numpy as np
import os

from sklearn.impute import SimpleImputer

In [6]:
os.getcwd()

'/Users/jackie/Documents/data_science/projects/predict_h1n1_and_seasonal_flu_vaccines/notebooks'

In [2]:
raw_data_path = "/Users/jackie/Documents/data_science/projects/predict_h1n1_and_seasonal_flu_vaccines/data/raw/"

In [3]:
trainset_file_name = "Flu_Shot_Learning_Predict_H1N1_and_Seasonal_Flu_Vaccines_-_Training_Features.csv"

In [5]:
file = raw_data_path+trainset_file_name

In [6]:
df = pd.read_csv(file)

In [7]:
df.shape

(26707, 36)

In [8]:
df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [9]:
df.dtypes

respondent_id                    int64
h1n1_concern                   float64
h1n1_knowledge                 float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_h1n1               float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_h1n1_vacc_effective    float64
opinion_h1n1_risk              float64
opinion_h1n1_sick_from_vacc    float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26615 non-null  float64
 2   h1n1_knowledge               26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_h1n1             24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_h1n1_vacc_effective  26316 non-null  float64
 17  opinion_h1n1_risk            26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 7.3+ MB

In [22]:
df.describe()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,health_worker,health_insurance,opinion_h1n1_vacc_effective,opinion_h1n1_risk,opinion_h1n1_sick_from_vacc,opinion_seas_vacc_effective,opinion_seas_risk,opinion_seas_sick_from_vacc,household_adults,household_children
count,26707.000000,26615.000000,26591.000000,26636.000000,26499.000000,26688.000000,26665.000000,26620.00000,26625.000000,26579.000000,...,25903.000000,14433.00000,26316.000000,26319.000000,26312.000000,26245.000000,26193.000000,26170.000000,26458.000000,26458.000000
mean,13353.000000,1.618486,1.262532,0.048844,0.725612,0.068982,0.825614,0.35864,0.337315,0.677264,...,0.111918,0.87972,3.850623,2.342566,2.357670,4.025986,2.719162,2.118112,0.886499,0.534583
std,7709.791156,0.910311,0.618149,0.215545,0.446214,0.253429,0.379448,0.47961,0.472802,0.467531,...,0.315271,0.32530,1.007436,1.285539,1.362766,1.086565,1.385055,1.332950,0.753422,0.928173
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,6676.500000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,...,0.000000,1.00000,3.000000,1.000000,1.000000,4.000000,2.000000,1.000000,0.000000,0.000000
50%,13353.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,...,0.000000,1.00000,4.000000,2.000000,2.000000,4.000000,2.000000,2.000000,1.000000,0.000000
75%,20029.500000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,...,0.000000,1.00000,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,1.000000,1.000000
max,26706.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,3.000000

In [10]:
df.isnull().sum()

respondent_id                      0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [24]:
df['age_group'].unique()

array(['55 - 64 Years', '35 - 44 Years', '18 - 34 Years', '65+ Years',
       '45 - 54 Years'], dtype=object)

In [25]:
df['education'].unique()

array(['< 12 Years', '12 Years', 'College Graduate', 'Some College', nan],
      dtype=object)

In [26]:
df['race'].unique()

array(['White', 'Black', 'Other or Multiple', 'Hispanic'], dtype=object)

In [27]:
df['sex'].unique()

array(['Female', 'Male'], dtype=object)

In [28]:
df['income_poverty'].unique()

array(['Below Poverty', '<= $75,000, Above Poverty', '> $75,000', nan],
      dtype=object)

In [29]:
df['marital_status'].unique()

array(['Not Married', 'Married', nan], dtype=object)

In [30]:
df['rent_or_own'].unique()

array(['Own', 'Rent', nan], dtype=object)

In [31]:
df['employment_status'].unique()

array(['Not in Labor Force', 'Employed', 'Unemployed', nan], dtype=object)

In [32]:
df['hhs_geo_region'].unique()

array(['oxchjgsf', 'bhuqouqj', 'qufhixun', 'lrircsnp', 'atmpeygn',
       'lzgpxyit', 'fpwskwrf', 'mlyzmhmf', 'dqpwygqj', 'kbazzjca'],
      dtype=object)

In [33]:
df['census_msa'].unique()

array(['Non-MSA', 'MSA, Not Principle  City', 'MSA, Principle City'],
      dtype=object)

In [34]:
df['employment_industry'].unique()

array([nan, 'pxcmvdjn', 'rucpziij', 'wxleyezf', 'saaquncn', 'xicduogh',
       'ldnlellj', 'wlfvacwt', 'nduyfdeo', 'fcxhlnwr', 'vjjrobsf',
       'arjwrbjb', 'atmlpfrs', 'msuufmds', 'xqicxuve', 'phxvnwax',
       'dotnnunm', 'mfikgejo', 'cfqqtusy', 'mcubkhph', 'haxffmxo',
       'qnlwzans'], dtype=object)

In [35]:
df['employment_occupation'].unique()

array([nan, 'xgwztkwe', 'xtkaffoo', 'emcorrxb', 'vlluhbov', 'xqwwgdyp',
       'ccgxvspp', 'qxajmpny', 'kldqjyjy', 'mxkfnird', 'hfxkjkmi',
       'bxpfxfdn', 'ukymxvdu', 'cmhcxjea', 'haliazsg', 'dlvbwzss',
       'xzmlyyjv', 'oijqvulv', 'rcertsgn', 'tfqavkke', 'hodpvpew',
       'uqqtjvyb', 'pvmttkik', 'dcjcmpih'], dtype=object)

In [37]:
# Handling Missing Values

In [101]:
df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [145]:
imputer_mode = SimpleImputer(strategy='most_frequent', missing_values=' ')

In [146]:
#df[['employment_industry']] = df[['employment_industry']].astype('object')
df['employment_industry'] = imputer_mode.fit_transform(df[['employment_industry']])

ValueError: 2

float

In [104]:
df['employment_occupation'].dtype == 'object'

True

In [12]:
imputer_mean = SimpleImputer(strategy='mean')

for column in list(df.columns):
    if df[column].dtype == 'float64':
        print(f'{column} is float')
        df[column] = imputer_mean.fit_transform(df[[column]])
        print(f'{column} missing value imputed.')
    elif df[column].dtype == 'object' or df[column].dtype == 'string':
        print(f'{column} is object or string')
        df[[column]] = df[[column]].astype('string')
        df[[column]] = df[[column]].fillna(' ')
        print(f'{column} filled NA with " ".')
    else:
        print(f'{column} is No type')

respondent_id is No type
h1n1_concern is float
h1n1_concern missing value imputed.
h1n1_knowledge is float
h1n1_knowledge missing value imputed.
behavioral_antiviral_meds is float
behavioral_antiviral_meds missing value imputed.
behavioral_avoidance is float
behavioral_avoidance missing value imputed.
behavioral_face_mask is float
behavioral_face_mask missing value imputed.
behavioral_wash_hands is float
behavioral_wash_hands missing value imputed.
behavioral_large_gatherings is float
behavioral_large_gatherings missing value imputed.
behavioral_outside_home is float
behavioral_outside_home missing value imputed.
behavioral_touch_face is float
behavioral_touch_face missing value imputed.
doctor_recc_h1n1 is float
doctor_recc_h1n1 missing value imputed.
doctor_recc_seasonal is float
doctor_recc_seasonal missing value imputed.
chronic_med_condition is float
chronic_med_condition missing value imputed.
child_under_6_months is float
child_under_6_months missing value imputed.
health_worker is float
health_worker missing value imputed.
health_insurance is float
health_insurance missing value imputed.
opinion_h1n1_vacc_effective is float
opinion_h1n1_vacc_effective missing value imputed.
opinion_h1n1_risk is float
opinion_h1n1_risk missing value imputed.
opinion_h1n1_sick_from_vacc is float
opinion_h1n1_sick_from_vacc missing value imputed.
opinion_seas_vacc_effective is float
opinion_seas_vacc_effective missing value imputed.
opinion_seas_risk is float
opinion_seas_risk missing value imputed.
opinion_seas_sick_from_vacc is float
opinion_seas_sick_from_vacc missing value imputed.
age_group is object or string
age_group filled NA with " ".
education is object or string
education filled NA with " ".
race is object or string
race filled NA with " ".
sex is object or string
sex filled NA with " ".
income_poverty is object or string
income_poverty filled NA with " ".
marital_status is object or string
marital_status filled NA with " ".
rent_or_own is object or string
rent_or_own filled NA with " ".
employment_status is object or string
employment_status filled NA with " ".
hhs_geo_region is object or string
hhs_geo_region filled NA with " ".
census_msa is object or string
census_msa filled NA with " ".
household_adults is float
household_adults missing value imputed.
household_children is float
household_children missing value imputed.
employment_industry is object or string
employment_industry filled NA with " ".
employment_occupation is object or string
employment_occupation filled NA with " ".

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26707 non-null  float64
 2   h1n1_knowledge               26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_h1n1             26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_h1n1_vacc_effective  26707 non-null  float64
 17  opinion_h1n1_risk            26707 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  string
 23  education                    26707 non-null  string
 24  race                         26707 non-null  string
 25  sex                          26707 non-null  string
 26  income_poverty               26707 non-null  string
 27  marital_status               26707 non-null  string
 28  rent_or_own                  26707 non-null  string
 29  employment_status            26707 non-null  string
 30  hhs_geo_region               26707 non-null  string
 31  census_msa                   26707 non-null  string
 32  household_adults             26707 non-null  float64
 33  household_children           26707 non-null  float64
 34  employment_industry          26707 non-null  string
 35  employment_occupation        26707 non-null  string
dtypes: float64(23), int64(1), string(12)
memory usage: 7.3 MB

In [56]:
help(pd.

AttributeError: module 'pandas' has no attribute 'astype'

In [62]:
type(df.head()[['employment_occupation']])

pandas.core.frame.DataFrame

In [63]:
type(df.head()['employment_occupation'])

pandas.core.series.Series

In [87]:
df[['employment_occupation']].to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [144]:
df.loc[:, 'employment_industry'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
26702    False
26703    False
26704    False
26705    False
26706    False
Name: employment_industry, Length: 26707, dtype: bool

In [137]:
type(df.loc[0, 'employment_industry']) == pd._libs.missing.NAType

True

In [14]:
processed_data_path = "/Users/jackie/Documents/data_science/projects/predict_h1n1_and_seasonal_flu_vaccines/data/processed/"

In [15]:
processed_file_name = "processed_trainset.csv"

In [18]:
df.to_csv(processed_data_path+processed_file_name, index=False)

In [17]:
df.shape

(26707, 36)